In [8]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [4]:
item_list = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [9]:
te = TransactionEncoder()
te_ary = te.fit(item_list).transform(item_list)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [10]:
fpgrowth(df,min_support=0.6)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (10)
3       0.6        (8)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (10, 5)
7       0.6     (8, 3)
8       0.6     (8, 5)
9       0.6  (8, 3, 5)
10      0.6     (5, 6)

In [13]:
freq_itemsets = fpgrowth(df, min_support=0.6, use_colnames=True)
freq_itemsets['length'] = freq_itemsets["itemsets"].apply(lambda x : len(x))
freq_itemsets

    support                     itemsets  length
0       1.0               (Kidney Beans)       1
1       0.8                       (Eggs)       1
2       0.6                     (Yogurt)       1
3       0.6                      (Onion)       1
4       0.6                       (Milk)       1
5       0.8         (Kidney Beans, Eggs)       2
6       0.6       (Kidney Beans, Yogurt)       2
7       0.6                (Onion, Eggs)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6  (Kidney Beans, Onion, Eggs)       3
10      0.6         (Kidney Beans, Milk)       2

In [15]:
rules = association_rules(freq_itemsets, min_threshold=0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,0.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,0.0
2,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
3,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
4,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
5,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
6,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
7,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
8,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0